Repository stylescape/icon.gl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stylescape, @scape-agency, @vanvianen

.github/CODEOWNERS:

# Code Owners

## Global

* @stylescape @scape-agency @vanvianen

## Documentation

README.md   @vanvianen
/docs/      @vanvianen

## Typescript

*.ts        @vanvianen

## SCSS

*.scss      @vanvianen

Refactor build config and rename CSS outputs
  CITATION.cff
  VERSION
  dist/css/icon.gl.css
  dist/css/icon.gl.min.css
  kist.dev.yml
  kist.pro.yml
  kist.yml
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

feat: add tsup for ESM+CJS TypeScript compilation
  CITATION.cff
  VERSION
  dist/js/index.cjs
  dist/js/index.cjs.map
  dist/js/index.mjs
  dist/js/index.mjs.map
  dist/package.json
  package-lock.json
  package.json
  tsup.config.ts
Owners: @stylescape, @scape-agency, @vanvianen

feat: add esm+cjs build output v0.0.36
  VERSION
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Bump version to 0.0.36
  CITATION.cff
  VERSION
  dist/package.json
Owners: @stylescape, @scape-agency, @vanvianen

Reset border-radius to 0 for UI elements
  exa/styles.css
  src/html/test.html
Owners: @stylescape, @scape-agency, @vanvianen

Bump version to 0.0.37 and update deps
  CITATION.cff
  VERSION
  dist/html/test.html
  dist/package.json
  doc/api/index.md
  doc/guides/migration.md
  mkdocs.yml
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Pin Vite to ^5.4.21 and update configs
  doc/api/index.md
  doc/guides/migration.md
  mkdocs.yml
  package-lock.json
  package.json
  test/build.test.ts
  tsconfig.json
Owners: @stylescape, @scape-agency, @vanvianen

Upgrade Vite and Vitest dev dependencies
  .github/workflows/test.yml
  CITATION.cff
  VERSION
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

add add icons
  src/ai/add.ai
  src/svg/add/add_birck_wall.svg
  src/svg/add/add_empty.svg
  src/svg/add/add_land_plot.svg
  src/svg/add/add_lightbulb.svg
  src/svg/add/add_list_checks.svg
Owners: @stylescape, @scape-agency, @vanvianen

new icons for kodw
  src/ai/lucide.ai
  src/ai/update.ai
  src/svg/add/add_book_open.svg
  src/svg/kodw/kodw_compare.svg
  src/svg/kodw/kodw_demography.svg
  src/svg/kodw/kodw_demography_02.svg
  src/svg/kodw/kodw_feedback.svg
  src/svg/kodw/kodw_feedback_02.svg
  src/svg/kodw/kodw_question.svg
  src/svg/kodw/kodw_ranking.svg
  src/svg/kodw/kodw_results.svg
  src/svg/kodw/kodw_studies.svg
  src/svg/kodw/kodw_study.svg
  src/svg/lucide/lucide_chart_pie_demography.svg
  src/svg/update/update_birck_wall.svg
  src/svg/update/update_book_open.svg
  src/svg/update/update_empty.svg
  src/svg/update/update_land_plot.svg
  src/svg/update/update_lightbulb.svg
  src/svg/update/update_list_checks.svg
Owners: @stylescape, @scape-agency, @vanvianen

0.0.39
  CITATION.cff
  VERSION
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Update package.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Simplify kist build and add Fantasticon font step
  .gitignore
  kist.yml
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

chore: bump version to 0.0.40
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Bump Node to 22.x and tidy workflow whitespace
  .github/workflows/publish_package.yml
Owners: @stylescape, @scape-agency, @vanvianen

Update add.ai metadata and timestamps
  src/ai/add.ai
  src/ai/kodw.ai
  tsconfig.json
Owners: @stylescape, @scape-agency, @vanvianen

v0.0.41
  CITATION.cff
  VERSION
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

0.0.42
  .gitignore
  CITATION.cff
  VERSION
  dist/js/index.d.cts
  dist/js/index.d.ts
  dist/package.json
  dist/ts/svg-icon-element.ts
  package.json
  src/ts/svg-icon-element.ts
  tsconfig.json
  tsup.config.ts
Owners: @stylescape, @scape-agency, @vanvianen

Update publish_package.yml
  .github/workflows/publish_package.yml
Owners: @stylescape, @scape-agency, @vanvianen

Bump version to 0.0.43
  CITATION.cff
  VERSION
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Bump version to 0.0.44
  CITATION.cff
  VERSION
  dist/package.json
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

0.0.45
  CITATION.cff
  VERSION
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

0.0.46
  CITATION.cff
  VERSION
  dist/package.json
  kist.yml
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Remove unused SVGs and update AI metadata
  src/ai/kodw.ai
  src/svg/add/add_birck_wall.svg
  src/svg/add/add_book_open.svg
  src/svg/add/add_empty.svg
  src/svg/add/add_land_plot.svg
  src/svg/add/add_lightbulb.svg
  src/svg/add/add_list_checks.svg
  src/svg/update/update_birck_wall.svg
  src/svg/update/update_book_open.svg
  src/svg/update/update_empty.svg
  src/svg/update/update_land_plot.svg
  src/svg/update/update_lightbulb.svg
  src/svg/update/update_list_checks.svg
Owners: @stylescape, @scape-agency, @vanvianen

Regenerate font variables and icon map
  dist/scss/variables/_font.scss
  exa/font_demo.html
  index.html
  kist.yml
  src/scss/variables/_font.scss
Owners: @vanvianen, @stylescape, @scape-agency

Bump version to 0.0.47
  CITATION.cff
  VERSION
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Add build-font.mjs script for auto-generating font + SCSS map
  scripts/build-font.mjs
Owners: @stylescape, @scape-agency, @vanvianen

Bump version to 0.0.48
  CITATION.cff
  VERSION
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

fix: add SCSS compilation to build, fix package.json paths for npm publishing
  kist.yml
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

chore: bump version to 0.0.49
  CITATION.cff
  VERSION
  package-lock.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

fix: change default icon color from #000000 to inherit
  src/scss/variables/_base.scss
Owners: @vanvianen

Remove generated icon assets from dist
  dist/font/icon.gl.css
  dist/font/icon.gl.scss
  dist/font/icon.gl.ts
  dist/font/icon.gl.woff
  dist/font/icon.gl.woff2
  dist/package.json
  dist/scss/variables/_base.scss
  dist/svg/add/add_birck_wall.svg
  dist/svg/add/add_book_open.svg
  dist/svg/add/add_empty.svg
  dist/svg/add/add_land_plot.svg
  dist/svg/add/add_lightbulb.svg
  dist/svg/add/add_list_checks.svg
  dist/svg/update/update_birck_wall.svg
  dist/svg/update/update_book_open.svg
  dist/svg/update/update_empty.svg
  dist/svg/update/update_land_plot.svg
  dist/svg/update/update_lightbulb.svg
  dist/svg/update/update_list_checks.svg
Owners: @stylescape, @scape-agency, @vanvianen

0.0.51
  CITATION.cff
  VERSION
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

chore: sync local changes
  .cursor/rules/000-core.mdc
  .cursor/rules/typescript.mdc
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Owners: @stylescape, @scape-agency, @vanvianen

chore(ci): version-tag deploys only
  .claude/hooks/guard_workflows.py
  .claude/settings.json
  .github/workflows/codeql.yml
  .github/workflows/deploy_docs.yml
  CLAUDE.md
  README.md
Owners: @stylescape, @scape-agency, @vanvianen
