Repository stylescape/icon.gl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stylescape, @scape-agency, @vanvianen

Update mkdocs.yml
  mkdocs.yml
Owners: @stylescape, @scape-agency, @vanvianen

Update README.md
  README.md
Owners: @vanvianen

Update dependabot.yml
  .github/dependabot.yml
Owners: @stylescape, @scape-agency, @vanvianen

Update package.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

Update CITATION.cff
  CITATION.cff
Owners: @stylescape, @scape-agency, @vanvianen

Delete pack.yml
  pack.yml
Owners: @stylescape, @scape-agency, @vanvianen

Update package.json
  dist/package.json
Owners: @stylescape, @scape-agency, @vanvianen

Create kist.yml
  kist.yml
Owners: @stylescape, @scape-agency, @vanvianen

Update package-lock.json
  package-lock.json
Owners: @stylescape, @scape-agency, @vanvianen

Update package.json
  package.json
Owners: @stylescape, @scape-agency, @vanvianen

WIP
  dist/css/icon.css
  dist/css/icon.min.css
  dist/js/icons.d.ts
  dist/js/icons.js
  dist/js/icons/symbol_star_copy.d.ts
  dist/js/icons/symbol_star_copy.js
  dist/js/icons/symbol_star_half_fill.d.ts
  dist/js/icons/symbol_star_half_fill.js
  dist/js/icons/symbol_star_half_fill_md.d.ts
  dist/js/icons/symbol_star_half_fill_md.js
  dist/js/icons/symbol_star_half_fill_sm.d.ts
  dist/js/icons/symbol_star_half_fill_sm.js
  dist/js/icons/symbol_star_half_fill_xs.d.ts
  dist/js/icons/symbol_star_half_fill_xs.js
  dist/js/icons/symbol_star_half_ms.d.ts
  dist/js/icons/symbol_star_half_ms.js
  dist/js/icons/symbol_star_half_sm.d.ts
  dist/js/icons/symbol_star_half_sm.js
  dist/js/icons/symbol_star_half_xs.d.ts
  dist/js/icons/symbol_star_half_xs.js
  dist/js/icons/symbol_swir_left.d.ts
  dist/js/icons/symbol_swir_left.js
  dist/package.json
  dist/scss/_state.scss
  dist/ts/icons.ts
  package.json
  src/scss/_state.scss
Owners: @stylescape, @scape-agency, @vanvianen

Update CITATION.cff
  CITATION.cff
Owners: @stylescape, @scape-agency, @vanvianen

Update VERSION
  VERSION
Owners: @stylescape, @scape-agency, @vanvianen

Update CITATION.cff
  CITATION.cff
Owners: @stylescape, @scape-agency, @vanvianen

v0.0.29
  CITATION.cff
  VERSION
  dist/scss/font/_font_face.scss
  dist/scss/mixins/_font.scss
  package-lock.json
  package.json
  src/scss/font/_font_face.scss
  src/scss/mixins/_font.scss
Owners: @stylescape, @scape-agency, @vanvianen

Update settings.json
  .vscode/settings.json
Owners: @stylescape, @scape-agency, @vanvianen

Update README.md
  dist/README.md
Owners: @vanvianen

Update README.md
  README.md
Owners: @vanvianen

Update _main.html
  docs/overrides/_main.html
Owners: @vanvianen

Update settings.json
  .vscode/settings.json
Owners: @stylescape, @scape-agency, @vanvianen

v0.0.30
  dist/md/icon.gl.md
  dist/sprite/css/sprite.css
  dist/sprite/css/svg/sprite.css-d9fdd20b.svg
  dist/sprite/defs/svg/sprite.defs.svg
  dist/sprite/stack/svg/sprite.stack.svg
  dist/sprite/symbol/icon.gl.svg
  dist/sprite/view/svg/sprite.view-10f82fff.svg
  src/scss/classes/_style copy.scss
  src/scss/classes/_style.scss
Owners: @stylescape, @scape-agency, @vanvianen

v0.0.31
  CITATION.cff
  VERSION
  dist/css/icon.css
  dist/css/icon.min.css
  dist/html/scale.html
  dist/scss/classes/_style.scss
  dist/scss/mixins/_style.scss
  package.json
  src/html/scale.html
  src/scss/classes/_style.scss
  src/scss/mixins/_style.scss
Owners: @stylescape, @scape-agency, @vanvianen

Kist config
  bin/ts/config/svgo.config.ts
  bin/ts/index.ts
  kist.dev.yml
  kist.pro.yml
  package.json
Owners: @vanvianen, @stylescape, @scape-agency

Update _size.scss
  src/scss/mixins/_size.scss
Owners: @vanvianen

Update _style.scss
  src/scss/classes/_style.scss
Owners: @vanvianen

Update README.md
  README.md
Owners: @vanvianen

Update README.md
  dist/README.md
Owners: @vanvianen

Bump version to 0.0.32 and add badge_country.ai
  .vscode/settings.json
  CITATION.cff
  VERSION
  package-lock.json
  package.json
  src/ai/badge_country.ai
Owners: @stylescape, @scape-agency, @vanvianen

Update settings.json
  .vscode/settings.json
Owners: @stylescape, @scape-agency, @vanvianen

Update Python analysis exclude settings
  .vscode/settings.json
Owners: @stylescape, @scape-agency, @vanvianen

Update tsconfig.json
  tsconfig.json
Owners: @stylescape, @scape-agency, @vanvianen

Update ui.ai
  src/ai/ui.ai
Owners: @stylescape, @scape-agency, @vanvianen

Clean up SCSS formatting and comments
  src/scss/font/_font_face.scss
  src/scss/variables/_base.scss
  src/scss/variables/_index.scss
Owners: @vanvianen

Add Vitest testing infrastructure and CI integration
  .github/TESTING_IMPLEMENTATION.md
  .github/workflows/test.yml
  .vscode/settings.json
  README.md
  TESTING.md
  package-lock.json
  package.json
  src/scss/classes/_font.scss
  src/scss/classes/_size.scss
  src/scss/classes/_style.scss
  src/ts/Icon.test.ts
  test/build.test.ts
  test/integration.test.ts
  vitest.config.ts
Owners: @stylescape, @scape-agency, @vanvianen

Refactor imports and formatting in tests and docs
  .github/TESTING_IMPLEMENTATION.md
  .github/workflows/test.yml
  README.md
  TESTING.md
  package.json
  src/ts/Icon.test.ts
  test/build.test.ts
  test/integration.test.ts
  vitest.config.ts
Owners: @stylescape, @scape-agency, @vanvianen

Add API reference and migration guide to documentation
  doc/api/index.md
  doc/guides/migration.md
  mkdocs.yml
Owners: @stylescape, @scape-agency, @vanvianen

Update quick start guide and add Icon class docs
  doc/quick_start.md
  src/ts/utils/Icon.ts
Owners: @stylescape, @scape-agency, @vanvianen

Create index.html
  exa/index.html
Owners: @stylescape, @scape-agency, @vanvianen

Extract demo CSS to styles.css
  exa/index.html
  exa/styles.css
  src/ai/-data_diagram [Recovered].ai
  src/ai/-layout [Recovered].ai
  src/ai/ui.ai
Owners: @stylescape, @scape-agency, @vanvianen

Update deps and metadata whitespace
  CITATION.cff
  VERSION
  package-lock.json
  tsconfig.json
Owners: @stylescape, @scape-agency, @vanvianen

.github/CODEOWNERS:

# Code Owners

## Global

* @stylescape @scape-agency @vanvianen

## Documentation

README.md   @vanvianen
/docs/      @vanvianen

## Typescript

*.ts        @vanvianen

## SCSS

*.scss      @vanvianen
